<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
	</system.web>

	<system.serviceModel>

		<!-- Remote SOAP Service-->
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IXDomainService" />
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://localhost:59000/XDomainService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXDomainService" contract="XDomainServiceReference.IXDomainService" name="BasicHttpBinding_IXDomainService" />
		</client>
		<!-- Remote SOAP Service -->

		<!-- Local JSON Service -->
		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="metaDataDebugBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

		<services>
			<service name="AjaxProxy.JsonService" behaviorConfiguration="metaDataDebugBehavior">
				<endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" contract="AjaxProxy.JsonService" />
			</service>
		</services>
		<!-- Local JSON Service -->

	</system.serviceModel>

</configuration>